<?php include("_header.html"); ?>
		<!-- Home -->
			<div class="wrapper style1 first">
				<article class="container" id="top">
					<div class="row">
						<div class="4u 12u(mobile)">
							<span class="image fit"><img src="images/redports.png" alt="" /></span>
						</div>
						<div class="8u 12u(mobile)">
							<header>
								<h1><strong>Redports</strong></h1>
							</header>
							<p>Your fully hosted continuous integration platform for FreeBSD Ports.</p>
							<a href="/login" class="button big scrolly"><i class="fa fa-github"></i> Sign up with GitHub</a>
						</div>
					</div>
				</article>
			</div>

		<!-- Work -->
			<div class="wrapper style2">
				<article id="benefits">
					<header>
						<h2>Automate testing your FreeBSD Ports</h2>
						<p>For Port Maintainers and FreeBSD Committers</p>
					</header>
					<div class="container">
						<div class="row">
							<div class="4u 12u(mobile)">
								<section class="box style1">
									<span class="icon featured fa-github"></span>
									<h3>GitHub integration</h3>
									<p>Builds and integrates into your GitHub workflow. No separate account needed.</p>
								</section>
							</div>
							<div class="4u 12u(mobile)">
								<section class="box style1">
									<span class="icon featured fa-server"></span>
									<h3>Hardware</h3>
									<p>We have powerful hardware available that is optimized for that job and runs your builds.</p>
								</section>
							</div>
							<div class="4u 12u(mobile)">
								<section class="box style1">
									<span class="icon featured fa-send"></span>
									<h3>Fully automated</h3>
									<p>Testing cannot be easier. You commit. We tell you the build results.</p>
								</section>
							</div>
						</div>
					</div>
					<footer>
						<p>Give it a try and let us show you how to improve your own FreeBSD Ports contributions.</p>
					</footer>
				</article>
			</div>

<?php include("_footer.html"); ?>
